{% extends 'base.html'%}
{% block content %}
{% load static %}
<h1>Profile list</h1>
<br />

{% if profiles %}

{% for profile in profiles %}

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{% static 'images/default.png'%}" class="img-fluid rounded-start" alt="Profile Image">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{profile.user.username}}</h5>
                <a href="{% url 'profile' profile.user.id %}">
                    <p class="card-text">@{{profile.user.username | lower}}</p>
                </a>
                <p class="card-text"><small class="text-muted">{{profile.date_modified}}</small></p>
            </div>
        </div>
    </div>
</div>
<br><br>

{% endfor %}

{% endif %}

{% endblock %}